# Processed data that does not make sense to keep on GitLab
*.png
*.npy
*.bin

# Python software default outputs
*__pycache__/

# vscode configuration files
*.vscode
.DS_Store

# No need to include logs
*.log

# Settings files should be user independent
*.set