# Ignore testing files and folders
testing*

# Raw data and compiled executables that should not be on GitLab
*.bin
*.exe

# Processed data that does not make sense to keep on GitLab
*.png
*.npy
*.pdf
*.txt
*.csv

# Python software default outputs
*__pycache__/
*_env/

# vscode configuration files
*.vscode
*.DS_Store

# No need to include logs
*.log

# Settings files should be user independent
*.json

# Remove cached editing files
*.swp

# Ignore sample data
data/*
