# Raw data that should never be synchronized with GitLab
*.bin

# Processed data that does not make sense to keep on GitLab
*.png
*.npy
*.pdf

# Python software default outputs
*__pycache__/
*_env/

# vscode configuration files
*.vscode
*.DS_Store

# No need to include logs
*.log

# Settings files should be user independent
*.json

# Input files are usually user independent
*.txt

# Raw data output should not be kept
*.csv

# Remove cached editing files
*.swp
